# User-Specific Files
/includes/pages/*
!test-page.php*

/includes/forms/*
!test-form.php*

/themes/*
!default/
!bootstrap4/

/addons/*

# Private User Files
/includes/config.php*
/includes/logs/*

# Documentation
/documentation/
