# Common Site-Specific files
/android-chrome*.png
/apple-touch-icon.png
/favicon*.*
/site.webmanifest

# MeLeeCMS Site-Specific Files
/includes/pages/*
!test-page.php*

/includes/forms/*
!test-form.php*

/themes/*
!default/
!bootstrap4/

/addons/*

# MeLeeCMS Private Files
/includes/config.php*
/includes/logs/*

# Documentation
/documentation/
